*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgba(255, 255, 255, 0.6); 
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container{
    max-width: 1000px; 
    min-height: 100vh; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background: url(/img/sky.jpg) no-repeat center/cover; 
    transition: 2s ease-in; 
}

.top-header{
    width: 100%;
    height: 6rem; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.main-header{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}


h1{
    font-size: 2.8rem;
    color: #ffffff; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.first-form{
    margin: 0.5rem 0; 
    display: flex; 
}

input{
    padding: 0.5rem; 
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.btn{
    padding: 0.7rem; 
    font-size: 0.8rem;
    font-weight: bold; 
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--main-color); 
    transition: 1s; 
}

.result{
    display: flex; 
    text-align: center; 
    justify-content: center;
    padding: 2rem; 
    background: var(--main-color);  
    border-radius: 10px;
    margin-top: 1rem;
}

h2{
    margin: 0 1.5rem; 
    font-size: 1rem;    
}

.icon-img{
    width: 100px; 
    margin-top: 1rem; 
}

.temp-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temp-text{
    font-size: 4rem; 
    margin-top: 1rem; 
}

.weather-data{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

p{
    font-size: 1.2rem; 
    font-weight: 200;
}

.city{
    font-size: 2rem; 
}
.description-text{
    font-size: 1rem;
}

.wind-text, .humidity-text{
    margin-top: 1rem; 
}

.data{
    display: none; 
}

.compare-container{
    background: var(--main-color);  
    max-width: 40rem; 
    border-radius: 10px;
    padding: 2rem; 
    margin: 1rem; 
    display: none; 
}

.compare-title{
    text-align: center;
}

.second-form{
    margin: 1rem; 
    text-align: center;
}

.compare-results{
    text-align: center;
}

.compareInput{
    padding: 0.4rem; 
    font-size: 0.9rem;
}

.compare-btn{
    padding: 0.4rem; 
    font-size: 0.9rem; 
}

/*********** style for 7 day ******/ 


.list-box{
    width: 520px; 
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem; 
}

/* Design for the version I wanted, but couldn't fix. See JS-file. 
/* .seven-day-text{
    margin: 1rem; 
    font-size: 1rem;
    display: none;  
} */

/* .click{
    cursor: pointer;
    color: white; 
    border-bottom: 2px solid white;
    font-size: 1.1rem;
}

.click:hover{
    color: blue; 
    border-bottom: 2px solid blue;
    transition: 1s;
} */

dl{
    list-style: none; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    align-items: center;
    font-size: 1.5rem;
}

dt{
    font-size: 1rem; 
    font-weight: bold; 
    color: black; 
    height: 100%; 
    border: 1px solid rgb(180, 199, 206);
    border-radius: 10px;
    background-color: var(--main-color); 
    padding: 0.4rem; 
}

.first-dt{
    display: flex; 
    align-items: center;
}
dd{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    font-size: 0.8rem;
    height: 120px;
    text-align: center;
    font-weight: normal; 
    padding-top: 1rem; 
}

.daily-icon{
    margin-top: -10px;
    width: 60px; 
}

